[submodule "lib/Ash"]
	path = lib/Ash
	url = https://github.com/Rahazan/Ash-HaXe.git
[submodule "Kha"]
	path = Kha
	url = https://github.com/KTXSoftware/Kha.git
[submodule "lib/hx-yaml"]
	path = lib/hx-yaml
	url = https://github.com/mikestead/hx-yaml.git
