[submodule "lib/Ash"]
	path = lib/Ash
	url = https://github.com/Rahazan/Ash-HaXe.git
[submodule "Kha"]
	path = Kha
	url = https://github.com/KTXSoftware/Kha.git
[submodule "lib/hx-yaml"]
	path = lib/hx-yaml
	url = https://github.com/mikestead/hx-yaml.git
[submodule "lib/mcli"]
	path = lib/mcli
	url = https://github.com/waneck/mcli.git
[submodule "lib/MassiveLib"]
	path = lib/MassiveLib
	url = https://github.com/massiveinteractive/MassiveLib.git
